//Portfolio
.filters-nav-wd {
  max-width: 780px;
  margin: 0 auto;
}

.fancybox-grid {
  position: relative;

  & .icon-video {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    @include translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}

.fancybox-youtube {
  & > img {
    width: 100%;
  }
}

.related-container {
  border-top: $border-solid 30px $red;
  padding: 45px 0;

  @include media-breakpoint-down(md) {
    padding: 20px 0 0;
    border-top-width: 10px;
  }
}