//Input Style
.wpcf7-form-control-wrap {
  margin-bottom: 30px;
  display: block;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}

.error-message, .required {
  color: $red;
}

.form-group {
  position: relative;
}

.form-control,
select,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  background: $white;
  border: solid 1px darken($border-color, 15%);
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  font-style: italic;
  font-size: $font-size-base;
  color: $text-color;
  line-height: 1.2;
  height: auto;
  width: 100%;
  @include border-radius(8px);
  @include box-sizing(border-box);
  padding: 16px 20px;

  @include media-breakpoint-down(md) {
    padding: 12px 16px;
  }

  &:focus {
    background: $white;
    border: solid 1px darken($border-color, 15%);
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
    font-style: italic;
    font-size: $font-size-base;
    color: $text-color;
    line-height: 1.2;
    height: auto;
    width: 100%;
    @include border-radius(8px);
    @include box-sizing(border-box);
    padding: 16px 20px;

    @include media-breakpoint-down(md) {
      padding: 12px 16px;
    }
  }
}

textarea {
  height: 160px;

  @include media-breakpoint-down(md) {
    height: 120px;
  }

  &.form-control,
  &:focus {
    height: 160px;

    @include media-breakpoint-down(md) {
      height: 120px;
    }
  }
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  font-family: $font-family-base;
  color: $text-color;
}

:-moz-placeholder {
  font-family: $font-family-base;
  color: $text-color;
}

::-moz-placeholder {
  font-family: $font-family-base;
  color: $text-color;
}

:-ms-input-placeholder {
  font-family: $font-family-base;
  color: $text-color;
}