//Footer style
.site-footer {
  background-color: $footer-bg;
  color: $footer-color;
  padding: 30px 0;

  .error404 & {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    padding: 70px 0;
  }

  & a {
    color: $white;

    @include hover-focus() {
      color: darken($white, 20%);
    }
  }

  & p {
    margin-bottom: 10px;
    line-height: 1.4em;
  }
}

.site-footer-logo {
  margin-bottom: 12px;
  max-width: 100px;


  @media screen and (max-width: 399px) {
    max-width: 80px;
  }
}

ul.footer-menu {
  list-style: none;
  margin: 0;

  & li {
    margin-bottom: 12px;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
