//Main Content
.site-content,
.section {
  margin-bottom: 70px;

  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
}

.client-section {
  background-color: $white;
  color: $text-color;
  padding: 55px 0;
  margin-bottom: 0;
  border-top: 5px solid #ff0000;
  border-bottom: 5px solid #ff0000;

  @include media-breakpoint-down(md) {
    padding: 45px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }
}

.single-emmerson_portfolio .site-content,
.page-template-page-our-clients .site-content,
.home .site-content {
  margin-bottom: 0;
}

.error404 .site {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-bottom: $border-solid 10px $red;
  @include flex-display(flex, column, nowrap);
}

.error404 .site-content {
  @include flex-display();
  @include align-items(center);
  @include justify-content(center);
  text-align: center;
  color: $white;
  margin-bottom: 0;
  @include flex(1);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & .h1,
  & .h2,
  & .h3,
  & .h4,
  & .h5,
  & .h6 {
    color: $white;
  }
}