//Button Style

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: $font-family-base;
  display: inline-block;
  letter-spacing: 0;
  background-color: $btn-bg;
  border: 0 none;
  color: $white;
  @include border-radius(8px);
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 24px;

  @include media-breakpoint-down(md) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  min-width: 250px;

  @include media-breakpoint-down(md) {
    min-width: 100px;
  }
}

button[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled] {
  @include hover-focus() {
    font-family: $font-family-base;
    display: inline-block;
    letter-spacing: 0;
    background-color: $btn-bg;
    border: 0 none;
    color: $white;
    @include border-radius(8px);
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
    padding: 20px 24px;

    @include media-breakpoint-down(md) {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

  @include hover-focus() {
    outline: none;
    outline-offset: 0;
    background: $red;
    border: 0 none;
    color: $white;
  }
}

.btn {
  @include media-breakpoint-down(lg) {
    padding: .48rem 1rem;
    font-size: 1rem;
  }
}

.btn-white {
  background-color: $white !important;
  color: $text-color !important;

  @include hover-focus() {
    background-color: darken($white, 5%) !important;
    color: $text-color !important;
  }
}

.btn-grey {
  background-color: $gray-500 !important;
  color: $white !important;

  @include hover-focus() {
    background-color: darken($gray-500, 5%) !important;
    color: $white !important;
  }
}

.btn-red {
  background-color: $red !important;
  color: $white !important;

  @include hover-focus() {
    background-color: #000 !important;
    color: $white !important;
  }
}

.btn-email {
  padding: .5rem 1.6rem;

  @include media-breakpoint-up(lg) {
    width: 160px;
  }
}

.modal-video-close-btn {
  @include hover-focus() {
    background-color: transparent;
    color: inherit;
  }
}

.js-video-button {
  cursor: pointer;
}