//Card style
.em-card {
  position: relative;

  &-thumb {
    position: relative;
  }

  &-image {
    min-height: 205px;
    width: 100%;
  }

  &-content {
    padding: 30px 0;

    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }
  }
}
