//Form style
form {
  position: relative;
  text-align: left;
}

.wpcf7-form {
  padding: 50px 0;

  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }
}

div.wpcf7 .ajax-loader {
  display: block;
}