/*Social link Style*/
.social-link {
  list-style: none;
  margin: 0 -7px !important;
  overflow: hidden;

  & li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 8px;
    padding: 0 7px;
    font-size: ($font-size-lg + 0.8rem);

    @include media-breakpoint-down(sm) {
      font-size: ($font-size-lg + 0.3rem);
    }
  }

  & li a {
    display: block;
    color: $link-color;

    @include hover-focus {
      color: $link-hover-color;

      .site-header & {
        color: $white;
      }

      .site-footer & {
        color: $link-color;
      }
    }

    .site-header & {
      color: $white;
    }

    .site-footer & {
      color: $link-hover-color;
    }
  }
}

// Filters Nav
.filters-nav {
  list-style: none;
  margin: 0 -10px 30px;
  @include flex-display();
  @include align-items(center);
  @include justify-content(center);

  & li {
    padding: 0 10px;
    margin-bottom: 20px;

    & a {
      padding: 6px 12px;
      @include border-radius($border-radius);
      background-color: transparent;
      color: $red;
      font-size: $font-size-lg;
      text-transform: uppercase;
      display: block;
      text-align: center;
      border: 2px solid $red;

      @include media-breakpoint-up(lg) {
        // min-width: 150px;
      }

      @include hover-focus() {
        background-color: #000;
        color: $white;
        border-color: #000;
      }

      @include media-breakpoint-down(md) {
        font-size: $font-size-base;
      }
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 10px;
  }
}