//Default Pages
.service-grid {
  position: relative;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }

  &-image {
    min-height: 205px;
    width: 100%;
  }

  &-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 10px;
    background-color: rgba(0,0,0, 0.7);
    @include flex-display(flex, column, nowrap);
    @include align-items(center);
    @include justify-content(center);
    color: $white;
    @include transition($transition-base);
    @include scale(0);

    & a {
      color: $white;
    }
  }

  & h5 {
    color: $white;
    margin-bottom: 0;
  }

  @include hover() {
    & .service-grid-content {
      @include scale(1);
    }
  }

  & > img {
    width: 100%;
    height: 100%;
  }
}

.get-touch {
  text-align: center;
  font-size: ($font-size-lg + 0.5rem);

  @include media-breakpoint-down(md) {
    font-size: $font-size-lg;
  }

  & a {
    color: $white !important;
    font-weight: $font-weight-bold;
    text-decoration: underline;

    @include hover-focus() {
      text-decoration: none;
    }
  }
}

.logo-list {
  list-style: none;
  margin: 0 -15px 30px;
  @include flex-display();
  @include align-items(center);

  & li {
    padding: 0 15px;
    margin-bottom: 30px;
    width: 14.28%;

    @include media-breakpoint-down(lg) {
      width: 16.66%;
    }

    @include media-breakpoint-down(md) {
      padding: 0 10px;
      margin-bottom: 20px;
      width: 20%;
    }

    @include media-breakpoint-down(sm) {
      width: 25%;
    }

    @include media-breakpoint-down(xs) {
      width: 33.33%;
    }

    @media screen and (max-width: 399px) {
      width: 50%;
    }
  }

  @include media-breakpoint-down(md) {
    margin: 0 -10px 20px;
  }
}

.teams-list {
  list-style: none;
  margin: 0 0 20px;

  & li {
    margin-bottom: 50px;
    @include flex-display();
    @include align-items(center);

    & .team-img {
      position: relative;
      margin-bottom: 20px;
      width: 50%;
      padding: 0 25px;

      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 0;
      }
    }

    & .team-content {
      width: 50%;
      padding: 0 25px;

      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 0;
      }
    }

    &.even {
      & .team-img {
        order: 2;

        @include media-breakpoint-down(md) {
          order: 1;
        }
      }

      & .team-content {
        order: 1;
        text-align: right;

        @include media-breakpoint-down(md) {
          order: 2;
          text-align: left;
        }
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      @include flex-display(flex, column, nowrap);
      @include align-items(flex-start);
    }
  }
}

.team-sm-text {
  font-size: 1.4rem;
}

.video {
  &-section {
    position: relative;
  }

  &-row {
    @include flex-display(flex, column, nowrap);

    @include media-breakpoint-up(lg) {
      @include flex-display();
      @include align-items(center);
    }
  }

  &-col {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }

  &-thumb {

    @include media-breakpoint-up(lg) {
      order: 2;
    }
  }

  &-content {
    padding: 1.5rem;
    color: $red;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    max-width: 800px;
    margin: 0 auto;

    p {
      font-weight: 300;
    }

    & h5 {
      font-size: 1.5rem;
      color: $gray-500;
      font-weight: $font-weight-bold;
    }

    & h6 {
      font-size: 1.2rem;
      color: $gray-400;
    }

    @include media-breakpoint-up(xl) {
      padding: 3.5rem;
      font-size: $font-size-lg;
    }

    @include media-breakpoint-up(lg) {
      order: 1;
    }
  }
}

