body {
  color: $body-color;
  font: {
    family: $font-family-sans-serif;
    size: 1.3rem;
    weight: 300;
  };
  line-height: $line-height-base;

  @include media-breakpoint-down(md) {
    font-size: $font-size-sm;
  }

 &.overflow {
    overflow: hidden;
  }
}

//1rem = 10px value seted
html {
  font-size: 62.5%;
}

.clearfix:after, .container:after, .site-main:after, .nav-menu:after, .menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix, .container, .site-main, .nav-menu, .menu { display: inline-block; }

* html .clearfix, * html .container, * html .site-main, * html .nav-menu, * html .menu { height: 1%; }

.clearfix, .container, .site-main, .nav-menu, .menu { display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}