//Helper

a.disable-link {
  pointer-events: none;
  cursor: default;
}

/*Different size images set in Equal block height and width*/
.grid-equal,
.banner-equal,
.grid-equal-block {
  position: relative;
  padding-bottom: 90%;
  height: 0;
  width: 100%;
  overflow: hidden;
}

.banner-equal {
  padding-bottom: 40%;
}

.grid-cover,
.banner-cover,
.grid-equal-inner {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.grid-equal-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-cover > img,
.banner-cover > img {
  height: auto;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

.bg-img-cover,
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-cover {
  display: block;
  height: 100%;
  width: 100%;
}