//Footer style
.site-footer {
  background-color: $footer-bg;
  color: $footer-color;
  padding: 30px 0;

  .error404 & {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    padding: 70px 0;
  }
}

.site-footer a {
  color: $link-hover-color;
}

.site-footer a:hover,
.site-footer a:focus {
  color: $link-color;
}

.site-footer p {
  margin-bottom: 10px;
  line-height: 1.4em;
}

.site-footer-logo {
  margin-bottom: 12px;

  @media screen and (max-width: 399px) {
    & img {
      width: 100px;
    }
  }
}

ul.footer-menu {
  list-style: none;
  margin: 0;

  & li {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
