// Header
.site-header {
  position: relative;
  border-bottom: $border-solid 10px $red;
  margin-bottom: 70px;

  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  body.home & {
    margin-bottom: 90px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 70px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 50px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  .error404 & {
    border-bottom: 0 none;
    margin-bottom: 0;
  }
}

.site-header-main-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
}

.site-header-main {
  position: relative;
  padding: 20px 0;
  color: $white;
  @include flex-display();
  @include justify-content(space-between);

  @include media-breakpoint-up(md) {
    padding: 50px 0;
  }
}

.site-logo {
  @include media-breakpoint-down(sm) {
    width: 150px;
  }
}

.banner-wrap {
  height: 300px;
  position: relative;
  color: $white;
  text-align: center;
  @include flex-display();
  @include align-items(center);
  padding-top: 90px;

  & h1 {
    color: $white;
    font-size: $h3-font-size;
    font-weight: $font-weight-base;

    @include media-breakpoint-down(lg) {
      font-size: $h4-font-size;
    }
  }

  body.home & {
    height: 400px;

    @include media-breakpoint-up(md) {
      height: 500px;
    }

    @include media-breakpoint-up(lg) {
      height: 600px;
    }

    @include media-breakpoint-up(xl) {
      height: 775px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba($banner-overlay, 0.5);

    .error404 & {
      display: none;
    }
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  .error404 & {
    height: auto;
    background: none !important;
  }

  @include media-breakpoint-up(md) {
    padding-top: 203px;
    height: 450px;
  }

  @include media-breakpoint-up(lg) {
    height: 600px;
  }
}

.menu-toggle {
  display: block;
  border: 0 none;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  color: transparent;
  background-color: transparent;

  @include hover-focus() {
    color: transparent;
    background-color: transparent;
  }
}

/*  BURGER
========================================== */
.burger {
  position: relative;
  z-index: 10;
  cursor: pointer;
  width: 30px;
  height: 24px;

  & span {
    width: 30px;
    height: 3px;
    margin: 10px 0;
    position: relative;
    border-top: 3px solid $white;
    display: block;
    @include transition($transition-base);

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 3px;
      background-color: $white;
      @include transition($transition-base);
    }

    &:before { top: -11px; }

    &:after { top: 5px; }
  }

  &.clicked span {
    border-top-color: transparent;

    &:before,
    &:after {
      background-color: $white;
    }

    &:before {
      @include translateY-rotate(7px, 45deg);
    }

    &:after {
      @include translateY-rotate(-9px, -45deg);
    }
  }
}

/*  OVERLAY
    ========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  @include transition($transition-base);
  background-color: $black;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.5;
  visibility: visible;
}