/*  NAV Bar
    ========================================== */
nav {
  background-color: $black;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 500px;
  width: 90%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  @include transition(transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
  @include translateX(100%);

  &.show {
    @include translateX(0px);
  }

  @include media-breakpoint-down(sm) {
    padding: 70px 30px 40px 30px;
  }
}

ul.primary-menu {
  list-style: none;
  margin: 0;

  & li {
    margin-bottom: 0;
    @include translateX(40px);
    opacity: 0;
    @include transition($transition-base);

    &:last-of-type {
      margin-bottom: 0px;
    }

    & a {
      color: $white;
      font-family: $font-family-base;
      text-decoration: none;
      text-transform: uppercase;
      font-size: $font-size-base;
      display: block;
      letter-spacing: 5px;
      font-weight: $font-weight-bold;
      padding: 25px 0;
      @include transition($transition-base);

      @include hover-focus() {
        color: $red;
      }

      @include media-breakpoint-down(sm) {
        padding: 15px 0;
        letter-spacing: 2px;
      }
    }

    nav.show & {
      @include translateX(0px);
      opacity: 1;

      &:nth-child(1) {
        transition-delay: 0.15s;
      }

      &:nth-child(2) {
        transition-delay: 0.3s;
      }

      &:nth-child(3) {
        transition-delay: 0.45s;
      }

      &:nth-child(4) {
        transition-delay: 0.6s;
      }

      &:nth-child(5) {
        transition-delay: 0.75s;
      }

      &:nth-child(6) {
        transition-delay: 0.9s;
      }

      &:nth-child(7) {
        transition-delay: 1.05s;
      }

      &:nth-child(8) {
        transition-delay: 1.2s;
      }

      &:nth-child(9) {
        transition-delay: 1.35s;
      }
    }
  }
}