// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

$num: 20;

@while $num <= 120 {
  .size-#{$num} {
    width: #{$num}px;
    height: #{$num}px;
    line-height: #{$num}px;
  }

  $num: $num + 5;
}

@each $color, $value in $em-colors {
  @include bg-variant(".bg-#{$color}", $value);
  @include text-emphasis-variant(".text-#{$color}", $value);
  .border.border-#{$color} {
    border-color: $value !important;
  }
}