// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

//$white:    #fff !default;
$gray-100: #f4f4f4;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
//stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge((
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
), $grays);

$primary: #038fde;
$secondary: #fa8c16;
$success: #52c41a;
$info: #1890ff;
$warning: #faad14;
$danger: #f5222d;
$light: #e5e5e5;
$dark: #737373;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge((
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
), $theme-colors);

//Emmerson Color system
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #722ed1 !default;
$pink: #e83e8c !default;
$red: #ff0000;
$orange: #ff9800;
$yellow: #fadb14;
$green: #28a745 !default;
$teal: #20c997;
$cyan: #13c2c2;

$em-colors: ();
$em-colors: map-merge((
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan
), $em-colors);

//Custom Color system
$text-color: #737373 !default;
$text-color-dark: #262626 !default;
$primary-light: lighten($primary, 25%) !default;
$primary-lighten: #e6faff !default;
$light-green: #1dce8e !default;
$dark-green: #3d6003 !default;
$light-blue: #5797fc !default;
$light-cyan: #00bcd4 !default;
$dark-blue: #0060ca !default;
$sky-blue: #00aeef !default;
$light-pink: #ff415a !default;
$light-yellow: lighten($yellow, 25%) !default;
$light-success: lighten($success, 35%) !default;
$brown: #5e1e21 !default;
$geekblue: #030852 !default;

// Spacing

$spacer: 1.6rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: ($spacer * .75),
        4: $spacer,
        5: ($spacer * 1.25),
        6: ($spacer * 1.5),
        7: ($spacer * 1.75),
        8: ($spacer * 2),
        9: ($spacer * 2.25),
        10: ($spacer * 2.5)
), $spacers);

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $text-color;

// Links
//
// Style anchor elements.

$link-color: #e30613;
//$link-decoration: none !default;
$link-hover-color: #737373;
$link-decoration: underline;
$link-hover-decoration: none;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1.4rem;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: 1.2;
$line-height-sm: 1.2;

$border-width: 1px !default;
$border-color: #e8e8e8;
$border-solid: solid;

$border-radius: 0.4rem;
$border-radius-lg: 0.6rem;
$border-radius-sm: 0.2rem;
$border-radius-xl: 1rem !default;
$border-radius-circle: 50% !default;

$box-shadow-sm: 0 0 3px 0 rgba($black, 0.15);
$box-shadow: 0 0 5px 5px rgba($black, 0.03);
$box-shadow-lg: 0 1px 8px -1px rgba($black, 0.20);
$box-shadow-xl: 0 0 15px 0 rgba($black, 0.20) !default;
$box-shadow-avatar: 0 0 16px 0 rgba(#5c5c5c, 0.12) !default;

$component-active-bg: theme-color("primary");

//$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
//$embed-responsive-aspect-ratios: join((
//        (21 9),
//        (16 9),
//        (3 4),
//        (1 1),
//), $embed-responsive-aspect-ratios);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem; // Assumes the browser default, typically `10px`
$font-size-lg: 1.2rem;
$font-size-sm: 0.8rem;
$line-height-base: 1.4;
$line-height-lg: 1.6;
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$h1-font-size: 2.6rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2.25rem;
$h4-font-size: 1.6rem;
$h5-font-size: 1.4rem;
$h6-font-size: 1.2rem;

$headings-margin-bottom: 1.8rem;
$headings-font-weight: $font-weight-normal;
$headings-color: $text-color-dark;

$text-muted: $text-color;

$blockquote-small-color: $text-color;
$blockquote-font-size: 1.8rem;

$hr-border-color: $gray-400;

$hr-margin-y: $spacer;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 1.5rem;
$table-cell-padding-sm: .5rem;
$table-accent-bg: #f8f8f8;
$table-hover-bg: darken($table-accent-bg, 2%);
$table-border-color: $border-color;

$table-head-bg: #e9e9e9;
$table-head-color: #bebebe;

$table-dark-bg: #3c3c3c;
$table-dark-accent-bg: #292929;
$table-dark-hover-bg: darken($table-dark-accent-bg, 2%);
$table-dark-border-color: #414141;
$table-dark-color: $text-color;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.7rem;
$input-btn-padding-x: 2rem;
$input-btn-font-size: $font-size-lg;
$input-btn-line-height: $line-height-base;

$input-btn-focus-width: 0;
$input-btn-focus-color: rgba($component-active-bg, .25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm: .58rem;
$input-btn-padding-x-sm: 1.6rem;
$input-btn-font-size-sm: 1rem;
$input-btn-line-height-sm: $line-height-sm;

$input-btn-padding-y-lg: 0.9rem;
$input-btn-padding-x-lg: 2.4rem;
$input-btn-font-size-lg: $font-size-lg;
$input-btn-line-height-lg: $line-height-lg;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-size: $input-btn-font-size;
$btn-line-height: $input-btn-line-height;

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-font-size-sm: $input-btn-font-size-sm;
$btn-line-height-sm: $input-btn-line-height-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-font-size-lg: $input-btn-font-size-lg;
$btn-line-height-lg: $input-btn-line-height-lg;
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;

$btn-block-spacing-y: .8rem;

$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius;

$btn-bg: #a1a1a1 !default;
$btn-font-weight: $font-weight-medium;

// Forms

$label-margin-bottom: .5rem !default;

$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
$input-font-size: $input-btn-font-size;
$input-font-weight: $font-weight-base;
$input-line-height: $input-btn-line-height;

$input-padding-y-sm: $input-btn-padding-y-sm;
$input-padding-x-sm: $input-btn-padding-x-sm;
$input-font-size-sm: $input-btn-font-size-sm;
$input-line-height-sm: $input-btn-line-height-sm;

$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-font-size-lg: $input-btn-font-size-lg;
$input-line-height-lg: $input-btn-line-height-lg;

$input-color: $text-color;
$input-box-shadow: none;

$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius;

$input-focus-border-color: lighten($component-active-bg, 25%);
$input-focus-width: $input-btn-focus-width;
$input-focus-box-shadow: $input-btn-focus-box-shadow;

$input-placeholder-color: #bdbdbd;

$input-height-inner: ($input-btn-font-size * $input-btn-line-height) + ($input-btn-padding-y * 2);
$input-height: calc(#{$input-height-inner} + #{$input-height-border});

$input-height-inner-sm: ($input-btn-font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2);
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border});

$input-height-inner-lg: ($input-btn-font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2);
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border});

$form-text-margin-top: .8rem;

$form-check-input-gutter: 2rem;

$form-check-inline-margin-x: 1.2rem;
$form-check-inline-input-margin-x: .6rem;

$form-group-margin-bottom: 2.2rem;
$input-group-addon-bg: #f5f5f5;

// Form validation

//$form-feedback-margin-top: $form-text-margin-top !default;
$form-feedback-font-size: $small-font-size;
$form-feedback-valid-color: theme-color("success");
$form-feedback-invalid-color: theme-color("danger");

// Dropdowns
$dropdown-spacer: .5rem;
$dropdown-border-color: transparent;
$dropdown-border-radius: $border-radius;
$dropdown-border-width: 0;
$dropdown-inner-border-radius: calc(#{$dropdown-border-radius} - #{$dropdown-border-width});
$dropdown-divider-bg: $border-color;
$dropdown-link-active-bg: $component-active-bg;

$dropdown-item-padding-y: .7rem;
$zindex-tooltip: 1502;

// Navs

$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1.6rem;
$nav-link-disabled-color: $gray-500;

$nav-tabs-border-radius: $border-radius;

$nav-pills-border-radius: $border-radius;
$nav-pills-link-active-bg: $component-active-bg;

$nav-divider-color: $border-color;

// Navbar

// Pagination

$pagination-padding-y: .8rem;
$pagination-padding-x: 1.2rem;
$pagination-padding-y-sm: .4rem;
$pagination-padding-x-sm: .8rem;
$pagination-padding-y-lg: 1.2rem;
$pagination-padding-x-lg: 2.4rem;

$pagination-color: $link-color;

$pagination-focus-box-shadow: $input-btn-focus-box-shadow;

$pagination-hover-color: $link-hover-color;
$pagination-active-bg: $component-active-bg;
$pagination-active-border-color: $pagination-active-bg;

$pagination-disabled-color: $gray-500;

// Cards

$card-spacer-y: 2.4rem;
$card-spacer-x: 2.4rem;
$card-border-width: 0px;
$card-border-radius: $border-radius-xl;
$card-border-color: transparent;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});
$card-cap-bg: rgba($black, .05);
$card-bg: $white;

$card-img-overlay-padding: $card-spacer-y;

//$card-columns-count: 3 !default;
$card-columns-gap: 2rem;
$card-columns-margin: ($card-spacer-y * .625);

//Custom Card Variables
$card-shadow: $box-shadow !default;
$card-bg: $card-bg !default;
$card-margin: 3.2rem !default;
$card-padding-x: $card-spacer-x !default;
$card-padding-y: $card-spacer-y !default;
$card-header-color: $headings-color !default;
$border: 1px solid $border-color !default;

// Badges

$badge-font-size: $font-size-sm;
$badge-font-weight: $font-weight-normal;
$badge-padding-y: .6rem;
$badge-padding-x: .8rem;
$badge-border-radius: $border-radius;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 1.6rem;

$modal-dialog-margin: .8rem;
$modal-dialog-margin-y-sm-up: 2.8rem;

$modal-title-line-height: $line-height-base;
$modal-content-border-radius: $border-radius;
$modal-header-padding-y: 1.6rem;
$modal-header-padding-x: 1.6rem;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility


// Alerts

$alert-padding-y: 1.4rem;
$alert-padding-x: 2rem;
$alert-margin-bottom: 1.6rem;
$alert-border-radius: $border-radius;



// Breadcrumbs

$breadcrumb-padding-y: 1.2rem;
$breadcrumb-padding-x: 1.6rem;
$breadcrumb-item-padding: .8rem;

// Carousel


// Close
$close-font-size: $font-size-base * 1.5;

//Header Variables
$header-height: 72px !default;
$header-shadow: 0 0 4px 4px rgba($black, 0.08) !default;
$header-bg: $white !default;
$header-color: $text-color !default;
$header-color-hover: $text-color-dark !default;

//Banner Variables
$banner-overlay: #6b6b6b !default;

//Footer Variables
$footer-bg: #e1e1e1 !default;
$footer-color: $text-color !default;
$footer-border-color: $border-color !default;

//Owl Carousel
//dots
$dot-width: 12px;
$dot-height: 12px;
$dot-rounded: $border-radius-circle;
$dot-margin: 2px;
$dot-background: $white;
$dot-background-active: $white;

// Custom Height Width
$min-size: 50px;
$min-sizes: ();
$min-sizes: map-merge((
        50: ($min-size * 1),
        55: ($min-size * 1.1),
        60: ($min-size * 1.2),
        65: ($min-size * 1.3),
        70: ($min-size * 1.4),
        75: ($min-size * 1.5),
        80: ($min-size * 1.6),
        85: ($min-size * 1.7),
        90: ($min-size * 1.8),
        95: ($min-size * 1.9),
        100: ($min-size * 2),
        120: ($min-size * 2.4),
        150: ($min-size * 3),
), $min-sizes);

//Image path
$image-path: '../images' !default;