//Placeholder

//Card Style
%card-style {
  position: relative;
  @include box-shadow($card-shadow);
  margin-bottom: $card-margin;
  background-color: $card-bg;
  @include border-radius($card-border-radius);
}

//List Style
%list-style-none {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

//Dot Shape
%dot-shape {
  width: 8px;
  height: 8px;
  background-color: $primary;
  display: inline-block;
  @include border-radius($border-radius-circle);
}