//Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  clear: both;
  font-weight: $font-weight-medium;
  font-style: normal;
  line-height: 1;
  margin: 0 0 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;

  @include media-breakpoint-down(lg) {
    font-size: $h2-font-size;
  }

  @include media-breakpoint-down(md) {
    font-size: $h3-font-size;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  color: $link-color;
  text-transform: uppercase;

  @include media-breakpoint-down(lg) {
    font-size: $h3-font-size;
  }

  @include media-breakpoint-down(md) {
    font-size: $h4-font-size;
  }
}

h3, .h3 {
  font-size: $h3-font-size;

  @include media-breakpoint-down(lg) {
    font-size: $h4-font-size;
  }

  @include media-breakpoint-down(md) {
    font-size: $h5-font-size;
  }
}

h4, .h4 {
  font-size: $h4-font-size;

  @include media-breakpoint-down(lg) {
    font-size: $h5-font-size;
  }

  @include media-breakpoint-down(md) {
    font-size: $h6-font-size;
  }
}

h5, .h5 {
  font-size: $h5-font-size;

  @include media-breakpoint-down(lg) {
    font-size: $h6-font-size;
  }
}

h6, .h6 {
  font-size: $h6-font-size;
}

h1:not(.site-title)::before, h2::before {
  display: none;
}

p {
  margin: 0 0 20px;
  line-height: $line-height-lg;

  @include media-breakpoint-down(md) {
    line-height: $line-height-base;
    margin-bottom: 10px;
  }
}

a { color: $link-color; text-decoration: $link-hover-decoration; }

a:hover,
a:focus,
a:active,
a:visited { color: $link-hover-color; text-decoration: $link-hover-decoration; }

a:focus { outline: none; }

address {
  font-style: normal;
  line-height: 1.2em;
  margin: 0 0 10px;
  color: $body-color;
  font-size: 16px;
}

blockquote {
  border: 0 none;
  color: $body-color;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2em;
  margin: 0;
  padding-left: 0;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

menu, ol, ul {
  margin: 0 0 10px 18px;
  padding: 0;
}

ul {
  list-style-type: disc;
}

ul li { line-height: 1.3em; margin: 0 0 8px;}

b, strong {
  font-weight: bold;
}

.fs-base {
  font-size: $font-size-base;
}

.fs-lg {
  font-size: $font-size-lg;
}

.fs-sm {
  font-size: $font-size-sm;
}

.fs-xl {
  font-size: ($font-size-lg + 0.8rem);
}

.fs-xxl {
  font-size: ($font-size-lg + 1.5rem);
}